.container {
    display: flex;
    background-color: whitesmoke;
    height: 100px;
    color: gray;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rightContainer {
    display: flex;
}


.header {
  font-family: 'Courier New', monospace;
  background-color: #3498db; /* Header background color */
  color: #ffffff; /* Header text color */
  padding: 20px; /* Padding around the header content */
  text-align: center; /* Center align text */
  letter-spacing: 2px; /* Adjust letter spacing for style */
  font-size: 24px; /* Font size */
  border-bottom: 2px solid #2980b9; /* Border line at the bottom */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
}

/* Additional styles for hover effect (optional) */
.header:hover {
  background-color: #2980b9; /* Change background color on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}